<h3>Classified</h3>
<p>This page is for authenticated user only</p>

<form action="/user/logout" method="post" >
    <button type="submit">Logout</button>
</form>

<p>Go back to <a href="/">home</a></p>